body .infoUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


body .infoUser #userImage{
    align-self: center;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
}

body .infoUser h2{
    margin-left: -10px;
}

body .infoUser button{
    background-color: darkred;
    color: white;
    width: 150px;
    margin: auto;
    align-self: center;
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-radius: 10px;
}


body .infoUser .centrado{
    display: flex;
    margin: auto;
}

body .infoUser .centrado button {
    margin: 10px;
}


/*edit*/

.infoUser p{
    margin-left: 10px;
    margin-bottom: -5px;
}