<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>

    <section class = "creacion">
        <form class = "creacion-producto" method="POST">
            <h1>Detalle usuario</h1>
        </form>
    </section>

    <%- include('../partials/footer') %>
</body>